.jumbotron {
	background-image: url(img/foto-sma-telkom.jpg);
	background-size: cover;
	height: 770px;
	text-align: center;
	margin-top: -120px;
}
.jumbotron .display-4{
	color: white;
	margin-top: 200px;
}
.jumbotron p{
	color: white;
	font-size: 25px;
}
.jumbotron .btn{
	background-color: #5858fa;
	border: none;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 40px;
}
.jumbotron hr{
	border-color: #0000ff;
	width:70px;
	border-width: 3px;
}
/*ini adalah style carousel*/
.carousel-item {
	height: 680px;
}
.carousel-item img{
	margin-top: 120px;
	margin-bottom: 120px;	
}
.carousel-item .display-4 {
	margin-top: -420px;
}
.carousel-item .btn{
	background-color: #5858fa;
	border: none;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 40px;
}
.row{
	text-align: left;
}
.row p{
	color:black;
	font-size: 15px;
}
.footer-top p{
	color: #999;
	line-height: 25px;
}
.footer-top h3{
	color: #fff;
}
.footer-top h2{
	font-size: 18px;
}
.footer-top{
	background: #111;
	background-size: cover;
	padding: 80px 0;
}
.footer-top a,li,ul{
     color: #999;
	line-height: 25px;
}
.segment-one h3{
	font-family:poppins;
	color: #fff;
	letter-spacing: 3px;
	margin: 10px 0;
}
.segment-two h3{
	color: #fff;
	font-family:Poppins;
	text-transform: uppercase;
}
.segment-three h3{
    color: #fff;
	font-family:Poppins;
	text-transform: uppercase;
}
.body hr{
	size: 1000px;
	color: black;
}

.entry-content img {
   padding-left: 275px;
}
.entry-content ul{
	padding-left: 275px;
}
.entry-content hr{
    border-color: #0000ff;
	width:70px;
	border-width: 3px;
}
.entry-content2 img{
	padding-left: 160px;
}
.entry-content2 h4{
	text-align: center;
}
.entry-content2 hr{
	border-color: #0000ff;
	width:70px;
	border-width: 3px;
}
.entry-content3 hr{
	border-color: #0000ff;
	width:70px;
	border-width: 3px;
}
.entry-content3 h4{
	padding-left: 70px;
}